[submodule "mclv-48v-300w-dspic33ck256mp508-an1078/library/library-motor"]
	path = mclv-48v-300w-dspic33ck256mp508-an1078/library/library-motor
	url = https://github.com/microchip-pic-avr-solutions/library-motor
	branch = master
